@import 'node_modules/modern-normalize/modern-normalize.css';
@import url(https://fonts.bunny.net/css?family=roboto:100);

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr repeat(2, 1fr);
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
}

.sidebar{
    margin: 0;
    padding: 1rem;
    background-color: azure;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(auto-fit, clamp(100px, 80%, 1fr));
    justify-content: flex-start;
    border: 0.2rem solid green;
    /* background-color: #0ECCFB; */
    /* color: white; */
}

h3{
    padding: 0;
    font-size: 2rem;
}

h4{
    margin: 0;
}

ul{
    padding: 0;
}

ul > li {
    /* remove dot points */
    list-style: none;
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
}

.header{
    grid-area: header;
    display: grid;
    /* split the header into two rows */
    grid-template-rows: repeat(2, 1fr);
    /* padding: 1rem 0 1rem 1rem; */
    overflow: auto;
    /* border: 0.2rem solid blue; */
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.profile > * {
    border: 0;
    margin: 0 1rem 0 1rem;
    padding: 0 1rem 0 1rem;
}

.profile-pics > * {
    border: 0;
    margin: 0 1rem 0 1rem;
    padding: 0 1rem 0 1rem;

}

input{
    /* modify the width of the input box */
    /* width: clamp(200px, 80%, 400px); */
    border-radius: 4px;
}

.profile, .profile-pics{
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
}

 .main{
    grid-area: main;
    display: grid;
    padding: 1rem;
    background-color: azure;
    grid-template-rows: 5% repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr) 0.5fr;
    align-content: space-around;
    gap: 1rem;
} 

/* .main-projects{ */
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr) 0.5fr; */
/* } */

.card-col-1{
    grid-row: 2 / 5;
}

.card-col-2{
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

.card-col-3{
    grid-column: 3 / 4;
    grid-row: 2 / 5 ;
}

.card-col-1, .card-col-2{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

}

.card{
    border: 1px solid black;
    /* width: 250px; */
    /* height: 200px; */
    /* overflow: auto; */
}




