@import 'node_modules/modern-normalize/modern-normalize.css';
@import url(https://fonts.bunny.net/css?family=roboto:100,300,500,700,900);

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}


body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr repeat(2, 1fr);
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
}

.sidebar{
    margin: 0;
    /* padding: 1rem; */
    background-color: azure;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: min-content 1fr;
    justify-content: start;
    background-color: #4ade80;
    color: white;
}

h3{
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
}

h4{
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0;
}

.sidebar-nav > ul, .acc-settings > ul{
    padding: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

ul > li {
    padding: 1rem;
    list-style: none;
}

img{
    fill: white;
    float: left;
    width: 2rem;
    height: 2rem;
}

/* [class ^= "icon"]{

    fill: white;
} */


.header{
    grid-area: header;
    background-color: #bbf7d0;
    padding: 1rem;
}

.nav-bar > ul {
    padding: 0;
    display: grid;
    grid-template-columns: min-content 4fr min-content repeat(3, 0.5fr);
    grid-template-rows: min-content;
    align-content: center;
    align-items: center;
}

.btn-options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

input{
    /* modify the width of the input box */
    /* width: clamp(200px, 80%, 400px); */
    border-radius: 4px;
    margin: 0;

}


 .main{
    grid-area: main;
    display: grid;
    padding: 1rem;
    background-color: #f3f4f6;
    grid-template-rows: min-content repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-content: space-around;
    gap: 1rem;
} 

.column-1, .column-2, .column-3{
    overflow: auto;
    gap: 1rem;
}

.column-1, .column-2{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.column-1{
    grid-row: 2 / 5;
}

.column-2{
    grid-row: 2 / 5;
    grid-column: 2 / 3;
}

.column-3{
    grid-row: 2 / 5;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(min-content,1fr)); 
}

.annoucement-header{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.card{
    padding: 0.5rem;
    border-style: solid;
    border-color: #d6d3d1 #d6d3d1 #d6d3d1 #facc15;
    border-radius: 4px;
}

.column-3 > .card {
    border-color: #d6d3d1;
}

h4 > p{

}




